streamlit==1.45.1
folium==0.19.7
geopandas==0.13.2
pandas==2.0.0
requests==2.31.0
streamlit-folium==0.25.0
sentence-transformers==2.2.2
chromadb==0.4.24
ollama==0.1.6
matplotlib==3.7.1
numpy==1.24.3
scikit-learn==1.2.2
Pillow==9.5.0
transformers==4.36.2
torch==2.0.1
accelerate==0.21.0
bitsandbytes==0.41.1
langchain==0.1.14
seaborn==0.12.2 